[ req ]
default_bits        = 2048
default_md          = sha256
default_keyfile     = privkey.pem
prompt              = no
encrypt_key         = no
distinguished_name  = req_distinguished_name
x509_extensions     = v3_ca  # Use v3_ca for CA certificates

[ req_distinguished_name ]
C  = XX
O  = DefaultOrganization
CN = ca.rochediagnostics.local

[ v3_ca ]  # CA-specific extensions
basicConstraints = critical, CA:TRUE
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer